.header{ posiiton:fixed; height:20%; background-color: #3366FF; font-family: "Times New Roman"; font-size: 20px; }
.title{margin-left: 5%;}
.fullWidth{width:100%; }
.searchFood{margin-left:0%; }
.widthClass{width:100%; border-radius:2px;}