<div class="mainWrapper">
		<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
         <!--  <button type="button" ng-click="goToSearchPage()" >
            change page
          </button> -->
         
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">Add Item</a></li>
          </ul>
          </nav>
          <div class="searchFood fullWidth">
          <label class="item item-input fullWidth"> <i class="searchIcon"></i><input
					class="widthClass" type="text" placeholder="Search Food" data-ng-model="searchFoodBy">
		</label>
		</div>
		
		
		
		<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>No of calories</th>
        <th>No of proteins</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>blabla</td>
        <td>Anna</td>
        <td>4</td>
        <td>35</td>
        
      </tr>
    </tbody>
  </table>
  </div>
          </div>
          
          
        </div>
 